@media only screen and (max-width: 420px) {
  .about-wrp {
    padding-left: 0px;
    padding-top: 0px;
  }
  .prof-i {
    width: auto;
    height: 20vh;
  }
  .frankfurt-mobil {
    display: none;
  }
  .project-i {
    height: auto;
    width: 30vw;
    border-radius: 5px;
    padding-right: 2vw;
  }
}

* {
  color: #393e46;
  font-family: "Montserrat", sans-serif;
  font-family: "Outfit", sans-serif;
}

.home-wrp,
.contact-wrp,
.about-wrp {
  width: 100%;
  position: relative;
}

/*HOME */
.about-wrp {
  padding: 15vh 5vw 0vh 5vw;
  align-items: center;

  margin-bottom: 10vh;
}
.portfolio {
  text-align: center;
  width: 35vw;
  min-width: 350px;
  margin: 15vh auto 5vh auto;
}
.prof-i {
  width: 200px;
}

.row-wrap {
  padding-top: 5vh;
  width: 90%;
}
.language-wrp {
  padding-bottom: 5vh;
}
.projects-wrp {
  height: auto;
  margin-bottom: 0px;
  width: 100%;
}
.proj-name {
  color: #0dcaf0;
}
.h2-headers {
  padding: 2vh 0px;
}

.hr-style-one {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
/*FOOTER */
.foot-wrp {
  height: 15vh;
  width: 100%;
}
.foot-link {
  text-decoration: none;
  padding: 0px 10px;
  color: #393e46;
}
.foot-name {
  font-size: 20px;
}
.social {
  padding-top: 6px;
}

/*FORM */
.form-wrp {
  width: 50vw;
  margin: 0px auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

/*PROJECTS*/

.card-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card-wrap-pro {
  width: 90%;
  margin: 5vh auto;
}
.project-i {
  height: 20vh;
  border-radius: 5px;
  padding-right: 2vw;
}

.italic {
  font-style: italic;
}
